<div class="wrapper">
    <div class="col-left">
        <h1 class="title">Recipe Finder</h1>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam necessitatibus quod nulla consectetur dicta
            voluptates debitis voluptatum incidunt facilis laborum voluptatem dignissimos fuga inventore adipisci
            possimus, dolorem, blanditiis vero! Unde.
        </p>
        <button clickable [routerLink]="['/cards']" class="start-btn">Get Started</button>
    </div>
    <div class="col-right">
        <img class="image" src="../../../assets/images/hero1.png" alt="" class="logo">
    </div>
</div>