/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.image {
  width: 400px;
  height: 400px;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  align-items: center;
  justify-content: space-between;
}
.btn {
  margin-top: 0.6rem;
  color: white;
  width: 6rem;
  border: none;
  border-radius: 5px;
  text-wrap: nowrap;
  padding: 0.8rem;
}
.btn:hover {
  cursor: pointer;
  background: black;
}
