<div class="wrapper">
    <div class="form-wrapper">
        <div class="form-title">
            <h1>Recipe Form</h1>
            <h4>Have a recipe idea? fill it out</h4>
        </div>
        <form [formGroup]="recipeForm" (ngSubmit)="onClick()">

            <div class="fields flex-col">
                <label for="name">Name:</label>
                <input type="text" id="name" formControlName="name">
            </div>
            <div class="fields flex-col">
                <label for="category">Category:</label>
                <input type="text" id="category" formControlName="category">
            </div>
            <div class="fields flex-col">
                <label for="description">Description:</label>
                <input type="text" id="description" formControlName="description">
            </div>
            <div class="fields flex-col">
                <label for="name">Ingredients</label>
                <textarea id="ingredients" formControlName="ingredient"></textarea>
            </div>
            <div class="fields flex-col">
                <label for="instruction">Instructions</label>
                <textarea id="instruction" formControlName="instruction"></textarea>
            </div>
            <!-- <div *ngIf="recipeForm.get('image')?.value">
                <img width="200px" height="200px" [src]="recipeForm.get('image')?.value" alt="">
            </div> -->
            <div class="fields flex-col">
                <label for="image">Upload Image</label>
                <input id="image" #image type="file">
            </div>

            <button type="submit" class='btn' [disabled]="recipeForm.invalid">Submit</button>
        </form>


    </div>
</div>